<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.safetys.zatgov">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE5_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 手机震动权限 -->
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".ZatApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:hardwareAccelerated="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
    >

  <!-- android:theme="@style/AppTheme"-->

       <!-- 百度Key：Ylw6uiHGV0ThNvqmgc5t8QiawvYVPVs4-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="Ylw6uiHGV0ThNvqmgc5t8QiawvYVPVs4" />

        <!-- 友盟SDK -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a123007f29d986a7f00029c" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="PersonalID" />
        <!-- 测试用Activity -->
        <activity
            android:name=".ui.activity.AppIntroActivity"
            android:screenOrientation="portrait">s
        </activity>
        <activity
            android:name=".MainTestActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SecondActivity"
            android:screenOrientation="portrait" />




        <!-- 欢迎界面 -->
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:screenOrientation="portrait">s
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <!-- 登陆界面 -->
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <!-- 主界面 -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <!-- 密码修改 -->
        <activity
            android:name=".ui.activity.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <!-- 信息详情 -->
        <activity
            android:name=".ui.activity.EnterprisePolicyDetailActivity"
            android:screenOrientation="portrait" />
        <!-- 法律法规 -->
        <activity
            android:name=".ui.activity.LawRegulationsActivity"
            android:screenOrientation="portrait" />
        <!-- MSDS查询 -->
        <activity
            android:name=".ui.activity.MsdsActivity"
            android:screenOrientation="portrait" />
        <!-- MSDS查询信息 -->
        <activity
            android:name=".ui.activity.MsdsItemActivity"
            android:screenOrientation="portrait" />
        <!-- 安监要闻 -->
        <activity
            android:name=".ui.activity.SafetyNewsActivity"
            android:screenOrientation="portrait" />
        <!-- 技术标准 -->
        <activity
            android:name=".ui.activity.TechnicalStandardActivity"
            android:screenOrientation="portrait" />
        <!--多图浏览-->
        <activity
            android:name=".ui.activity.ViewPhotosActivity"
            android:screenOrientation="portrait" />
        <!-- 网格员检查表 -->
        <activity
            android:name=".ui.activity.WgyCheckListActivity"
            android:screenOrientation="portrait" />
        <!-- 网格员制作检查表 -->
        <activity
            android:name=".ui.activity.WgyMakeCheckListActivity"
            android:screenOrientation="portrait" />
        <!-- 网格员公司查找条件界面 -->
        <activity
            android:name=".ui.activity.WgySearchCompanysActivity"
            android:screenOrientation="portrait" />
        <!-- 企业信息列表 -->
        <activity
            android:name=".ui.activity.EnterpriseListActivity"
            android:screenOrientation="portrait" />
        <!-- 政府复查列表 -->
        <activity
            android:name=".ui.activity.ZfReviewCompanyListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.HistoryMajorChangeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.HistoryTroubleChangeActivity"
            android:screenOrientation="portrait" />
        <!-- 地图导航 -->
        <activity
            android:name=".ui.activity.MapActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <!-- 新增行政处罚 -->
        <activity
            android:name=".ui.activity.NewPunishmentAddActivity"
            android:screenOrientation="portrait" />
        <!-- 查看行政处罚 -->
        <activity
            android:name=".ui.activity.NewPunishmentShowActivity"
            android:screenOrientation="portrait" />
        <!-- 隐患录入 -->
        <activity
            android:name=".ui.activity.NewZfCheckAddActivity"
            android:screenOrientation="portrait" />
        <!-- new行政处罚列表 -->
        <activity
            android:name=".ui.activity.NewZfPunListActivity"
            android:screenOrientation="portrait" />
        <!-- 重大隐患详情 -->
        <activity
            android:name=".ui.activity.NoMajorChangeActivity"
            android:screenOrientation="portrait" />
        <!-- 复查详情 -->
        <activity
            android:name=".ui.activity.ReviewShowActivity"
            android:screenOrientation="portrait" />
        <service android:name=".service.UpgradeService" />

        <!-- 查看图片 -->
        <activity
            android:name=".ui.activity.ViewPhotoActivity"
            android:screenOrientation="portrait" />
        <!--多图浏览-->
        <activity
            android:name=".ui.activity.ViewPhotosActivity"
            android:screenOrientation="portrait" />
        <!-- 政府隐患复查 -->
        <activity
            android:name=".ui.activity.ZfReviewCompanyHiddenActivity"
            android:screenOrientation="portrait" />
        <!-- 政府复查隐患列表 -->
        <activity
            android:name=".ui.activity.ZfReviewCompanyHiddenListActivity"
            android:screenOrientation="portrait" />
        <!-- 地图导航 -->
        <activity
            android:name=".ui.activity.BNDemoMainActivity"
            android:screenOrientation="portrait" />
        <!-- 企业信息列表 -->
        <activity
            android:name=".ui.activity.CompanyLocationActivity"
            android:screenOrientation="portrait" />
        <!-- 地图导航 -->
        <activity
            android:name=".ui.activity.BNDemoGuideActivity"
            android:screenOrientation="portrait" />
        <!-- 地图导航 -->
        <activity
            android:name=".ui.activity.LocationActivity"
            android:screenOrientation="portrait" />
        <!-- 企业选择列表 -->
        <activity
            android:name=".ui.activity.EnterpriseChooseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.HistoryTroubleModifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.NewZfCheckAddActivityWgy"
            android:screenOrientation="portrait" />
        <!-- 检查记录 隐患列表 -->
        <activity
            android:name=".ui.activity.NewZfYhLrActivity"
            android:screenOrientation="portrait" />
        <!-- 隐患录入 -->
        <activity
            android:name=".ui.activity.TroubleRegisterActivity"
            android:screenOrientation="portrait" />
        <!-- 新检查记录页面 -->
        <activity
            android:name=".ui.activity.ZfCheckRecordListActivity"
            android:screenOrientation="portrait" />
        <!-- new检查记录详情 -->
        <activity
            android:name=".ui.activity.NewZfCheckItemActivity"
            android:screenOrientation="portrait" />
        <!-- 检查记录Expandable页面 -->
        <activity
            android:name=".ui.activity.ZfCheckRecordExpandListActivity"
            android:screenOrientation="portrait" />
        <!-- 企业隐患列表模块 -->
        <activity
            android:name=".ui.activity.ZfCompanyHiddenListActivity"
            android:screenOrientation="portrait" />
        <!-- 一般隐患详情 -->
        <activity
            android:name=".ui.activity.NoTroubleModifyActivity"
            android:screenOrientation="portrait" />

        <!-- 网格员设置 -->
        <activity
            android:name=".ui.activity.SettingActivity"
            android:screenOrientation="portrait" />
        <!-- 网格员主界面 -->
        <activity
            android:name=".ui.activity.MainWanggyActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>